ul{height:400px; width:18%; text-align: center; text-align: center;}
ul{overflow:hidden; overflow-y:scroll; text-align: center;
    list-style: inside;}
.grid { margin:1em auto; border-collapse:collapse }
.grid td {
    cursor:pointer;
    width:50px; height:50px;
    border:1px solid rgb(0, 0, 0);
    text-align:center;
    font-family:sans-serif; font-size:13px
}
.grid td.clicked {
    background-color:yellow;
    font-weight:bold; color:red;
}

.grid td.NAN {
    background-color:black;
    font-weight:bold; color:red;
}

.grid td.NAN {
    background-color:black;
    font-weight:bold; color:red;
}
.grid td.PINK {
    background-color:pink;
    font-weight:bold; color:red;
}

.grid td.CONTAINER {
    background-color:yellow;
    font-weight:bold; color:red;
}

.grid td.FROM {
    background-color:red ;
    font-weight:bold; color:white;
}

.grid td.TO {
    background-color:green;
    font-weight:bold; color:white;
}
body{
    margin: 0px;
    padding: 0px;
    background-color: lightgray;
    /* background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(images/banner.png); */
    /*background-image: linear-gradient(rgba(207, 207, 207, 0.7), rgba(207, 207, 207, 0.7)), url(banner2.png);
    background-position:center;
    background-size: auto;*/
    position: relative;
    text-align : center;
    -webkit-text-stroke: .1px rgb(255, 255, 255);
    font-weight: rgb(white);
}


.balanceButton {
    background-color: #af4c4c; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  .loadButton {
    background-color: #4c53af; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  .button {
    background-color: #5d5d5d; /* Green */
    border: none;
    color: white;
    padding: 5px 11px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
/* nav{} */